/* General Settings */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--cor0);
    text-decoration: none;
    line-height: 1.5em;
}

body, 
html {
    height: 100%;
}
:root {
    --cor0: #F2C0A2;
    --cor1: #8C8577;
    --cor2: #B5AC8D;
    --cor3: #8C2B4F;
    --cor4: #591C32;
}

/* Menu */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    background-color: var(--cor1);
    padding: 2em 1em;
}

#logo p {
    color: var(--cor4);
    font-weight: 600;
}

#logo span {
    font-weight: bolder;
    padding-right: 0.25em;
}

#nav-links {
    display: flex;
}

#nav-links a {
    display: block;
    padding: 0.25em 0.5em;
    border-radius: 5px;
}

#nav-links a:hover {
    background-color: var(--cor4);
}

/* Welcome Section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor4);
}

#welcome-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

#welcome-subtitle {
    text-align: center;
}

/* Projects Section */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: var(--cor3);
    box-sizing: border-box;
    padding: 25% 0 5% 0;
}

#grid-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 3em;
    width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
}

.project-tile {
    border-radius: 5px;
    background-color: var(--cor4);
    border: 1px solid black;    
}
 
.img-project {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
}

.project-title {
    text-align: center;
}

.project-title span{
    color: var(--cor3);
    font-weight: bolder;
}